ServiceClient/Service References/CustomerServices/customer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.sitels.ru/services/" elementFormDefault="qualified" targetNamespace="http://schemas.sitels.ru/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateCustomerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>